.elemento{
	color:  white;
	text-align: center;
	font-weight: bold;
	padding: 10px 0px;
}
.color1{
	background-color: #122838;
}
.color2{
	background-color: #183449;
}
.color3{
	background-color: #204662;
}
.color4{
	background-color: #2a5b7f;
}
.color5{
	background-color: #34719e;
}
.color6{
	background-color: #3e86bb;
}
.color7{
	background-color: #4698d4;
}